# --- Hack to try to have f-strings on Python 2 and 3
# future-fstrings

# --- For the codebase
tqdm>=4.0
numpy>=1.14
# matplotlib>=2.0
# pandas>=0.23

# --- For the notebooks
jupyter
ipython
watermark
ipythonblocks

# --- For the tests
behave
